// _base.scss
@import 'variables';

body {
    font-family: $font-family;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    background-color: $table-bg;
    // background-color: aqua;
    // padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.sidebar {

    &__container {
        background-color: $sidebar-bg;
        top: 0;
        left: 0;
        color: $table-bg;
        padding-top: 20px;
        flex: 2;
        /* Chiếm 3 phần */
        padding: 20px;
        /* Khoảng cách bên trong */
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &-item {
            padding: 15px 20px;
            cursor: pointer;
            text-align: left;

            &:hover {
                background-color: darken($sidebar-bg, 10%);
            }

          
        }
       
    }
    &__icon {
        margin-right: 10px;
    }

    &__close-btn {
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;

        &:focus {
            outline: none;
            /* Xóa outline khi nút được chọn */
        }
    }
}


.content {
    flex: 10;
    /* Chiếm 9 phần */
    /* background-color: #ffffff; */
    /* Màu nền cho content */
    padding: 20px;
    /* Khoảng cách bên trong */
    // margin-left: 250px;
    padding: 20px;
    background-color: $table-bg;

    .header {
        @include flex-center-center;
        justify-content: space-between;
        padding: 20px;
        background-color: $background-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &__title {
            margin: 0;
            font-size: 24px;
            color: $text-color;
        }

        &__user-info {
            @include flex-center;
        }

        &__user-image {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        &__user-name {
            margin-right: 10px;
            color: gray;
        }

        &__user-role {
            color: gray; // Thêm nếu bạn muốn định nghĩa cho vai trò
        }

    }



    .form {
        padding: 20px;

        &__group {
            margin-bottom: 20px;
        }

        &__label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        &__input {
            width: 100%;
            padding: 10px;
            border: 1px solid $border-input-color;
            border-radius: 4px;
            font-size: 1rem;

            &[type="text"],
            &[type="email"] {}
        }


        &__upload-btn {
            margin-top: 10px;
            @include button-style($primary-color, $table-bg);
        }

        &__error-text {
            color: $error-color;
            /* Đặt màu chữ là đỏ */
            font-size: 0.875em;
            /* Có thể điều chỉnh kích thước chữ */
            margin-top: 4px;
            /* Khoảng cách phía trên */
        }

        &__submit-btn {
            @include button-style($success-color, $table-bg);
            margin-right: 2px;
        }
    }

}






.user-management {

    // search
    &__search-bar {
        @include flex-center;
        margin-top: 20px;
    }

    &__search-input {
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        width: 300px;
        margin-right: 10px;
        color: $text-color;
    }

    &__notifications {
        margin-right: 10px;
        color: $text-color;
    }

    &__new-user {
        @include button-style($primary-color, $table-bg);
    }

    // table
    &__table-container {
        margin-top: 20px;
        background-color: $background-color;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }


    &__table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            padding: 15px;
            text-align: left;
            color: $text-color;
            border: 1px solid $border-color;
        }
    
        th {
            background-color: $background-color;
        }
    
        tr:nth-child(even) {
            background-color: $table-bg;
        }
    }



    &__avatar {
        width: 50px; // Thêm chiều rộng cho ảnh
    }

    &__email {
        // Có thể thêm các thuộc tính riêng nếu cần
    }

    &__name {
        // Có thể thêm các thuộc tính riêng nếu cần
    }

    &__actions {
        // Có thể thêm các thuộc tính riêng nếu cần
    }

    &__edit-btn {
        color: $primary-color;

        &:hover {
            opacity: 0.8; // Hiệu ứng hover cho nút chỉnh sửa
        }
    }

    &__delete-btn {
        color: $error-color;

        &:hover {
            opacity: 0.8; // Hiệu ứng hover cho nút xóa
        }
    }



    // pagination

    &__pagination {
        @include flex-between-center;
        padding: 20px;
    }

    &__showing {
        display: flex;
        align-items: center;
        color: $text-color;


    }

    &__select-option {
        margin-left: 10px;
        padding: 5px;

    }

    &__pages {
        @include flex-center;

    }

    &__btn {
        padding: 10px;
        border: none;
        background-color: $background-color;
        cursor: pointer;
        margin: 0 5px;

        &--active {
            background-color: $primary-color;
            color: $table-bg;
            border-radius: 5px;
        }

    }


}

/* Responsive Styles */
@media (max-width: 767px) {
    .sidebar {


        &__hamburger {
            font-size: 30px;
            cursor: pointer;
            padding: 10px;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        &__container {
            /* Thêm các thuộc tính cần thiết cho container */
            width: 250px;
            height: 100vh;
            position: fixed;
            left: -250px;
            /* Ẩn sidebar */
            transition: left 0.3s;
            padding: 20px;

            &--active {
                left: 0;
                /* Hiện sidebar */
            }
        }

       

        &__title {
            margin: 0 0 20px;
        }

        &__list {
            list-style-type: none;
            padding: 0;

            &__list-item {
                padding: 10px 0;
                cursor: pointer;

                &__icon {
                    margin-right: 10px;
                }

                &:hover {
                    background-color: darken($sidebar-bg, 10%);
                }
            }
        }

        &__close-btn {
            background: none;
            border: none;
            font-size: 30px;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;

            &:focus {
                outline: none;
                /* Xóa outline khi nút được chọn */
            }
        }
    }



    .content {
        margin-left: 0;
        padding: 10px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        input {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    @include table-responsive;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .sidebar {
        width: 200px;

        &__hamburger {
            display: none;
            /* Ẩn hamburger */
        }
    }



    .content {
        // margin-left: 200px;
        padding: 15px;

        .header {
            padding: 15px;
        }
    }


}

@media (min-width: 1200px) {
    .sidebar {
        width: 250px;

        &__hamburger {
            display: none;
            /* Ẩn hamburger */
        }
    }



    .content {
        // margin-left: 250px;
        padding: 20px;
    }
}