@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.sidebar__container {
  background-color: #1a2a4e;
  top: 0;
  left: 0;
  color: #f9f9f9;
  padding-top: 20px;
  flex: 2;
  /* Chiếm 3 phần */
  padding: 20px;
  /* Khoảng cách bên trong */
}
.sidebar__title {
  text-align: center;
  margin-bottom: 30px;
}
.sidebar__list {
  list-style-type: none;
  padding: 0;
}
.sidebar__list-item {
  padding: 15px 20px;
  cursor: pointer;
  text-align: left;
}
.sidebar__list-item:hover {
  background-color: rgb(13.25, 21.4038461538, 39.75);
}
.sidebar__icon {
  margin-right: 10px;
}
.sidebar__close-btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.sidebar__close-btn:focus {
  outline: none;
  /* Xóa outline khi nút được chọn */
}

.content {
  flex: 10;
  /* Chiếm 9 phần */
  /* background-color: #ffffff; */
  /* Màu nền cho content */
  padding: 20px;
  /* Khoảng cách bên trong */
  padding: 20px;
  background-color: #f9f9f9;
}
.content .header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content .header__title {
  margin: 0;
  font-size: 24px;
  color: #000000;
}
.content .header__user-info {
  display: flex;
  align-items: center;
}
.content .header__user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.content .header__user-name {
  margin-right: 10px;
  color: gray;
}
.content .header__user-role {
  color: gray;
}
.content .form {
  padding: 20px;
}
.content .form__group {
  margin-bottom: 20px;
}
.content .form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.content .form__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}
.content .form__upload-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #f9f9f9;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.content .form__upload-btn:hover {
  background-color: rgb(0, 98.4, 204);
}
.content .form__error-text {
  color: #ce0404;
  /* Đặt màu chữ là đỏ */
  font-size: 0.875em;
  /* Có thể điều chỉnh kích thước chữ */
  margin-top: 4px;
  /* Khoảng cách phía trên */
}
.content .form__submit-btn {
  background-color: #28a745;
  color: #f9f9f9;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 2px;
}
.content .form__submit-btn:hover {
  background-color: rgb(30.1449275362, 125.8550724638, 52);
}

.user-management__search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.user-management__search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
  color: #000000;
}
.user-management__notifications {
  margin-right: 10px;
  color: #000000;
}
.user-management__new-user {
  background-color: #007bff;
  color: #f9f9f9;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
.user-management__new-user:hover {
  background-color: rgb(0, 98.4, 204);
}
.user-management__table-container {
  margin-top: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-management__table {
  width: 100%;
  border-collapse: collapse;
}
.user-management__table th,
.user-management__table td {
  padding: 15px;
  text-align: left;
  color: #000000;
  border: 1px solid #ccc;
}
.user-management__table th {
  background-color: #f8f9fa;
}
.user-management__table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.user-management__avatar {
  width: 50px;
}
.user-management__edit-btn {
  color: #007bff;
}
.user-management__edit-btn:hover {
  opacity: 0.8;
}
.user-management__delete-btn {
  color: #ce0404;
}
.user-management__delete-btn:hover {
  opacity: 0.8;
}
.user-management__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.user-management__showing {
  display: flex;
  align-items: center;
  color: #000000;
}
.user-management__select-option {
  margin-left: 10px;
  padding: 5px;
}
.user-management__pages {
  display: flex;
  align-items: center;
}
.user-management__btn {
  padding: 10px;
  border: none;
  background-color: #f8f9fa;
  cursor: pointer;
  margin: 0 5px;
}
.user-management__btn--active {
  background-color: #007bff;
  color: #f9f9f9;
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .sidebar__hamburger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sidebar__container {
    /* Thêm các thuộc tính cần thiết cho container */
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    /* Ẩn sidebar */
    transition: left 0.3s;
    padding: 20px;
  }
  .sidebar__container--active {
    left: 0;
    /* Hiện sidebar */
  }
  .sidebar__title {
    margin: 0 0 20px;
  }
  .sidebar__list {
    list-style-type: none;
    padding: 0;
  }
  .sidebar__list__list-item {
    padding: 10px 0;
    cursor: pointer;
  }
  .sidebar__list__list-item__icon {
    margin-right: 10px;
  }
  .sidebar__list__list-item:hover {
    background-color: rgb(13.25, 21.4038461538, 39.75);
  }
  .sidebar__close-btn {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .sidebar__close-btn:focus {
    outline: none;
    /* Xóa outline khi nút được chọn */
  }
  .content {
    margin-left: 0;
    padding: 10px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-bar input {
    width: 100%;
    margin-bottom: 10px;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: inline-masonry;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .sidebar {
    width: 200px;
  }
  .sidebar__hamburger {
    display: none;
    /* Ẩn hamburger */
  }
  .content {
    padding: 15px;
  }
  .content .header {
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 250px;
  }
  .sidebar__hamburger {
    display: none;
    /* Ẩn hamburger */
  }
  .content {
    padding: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
